<section class="page-hero">
  <div class="container">
    <h1 class="page-hero__title">About This Project</h1>
    <p class="page-hero__subtitle">NoteOnMap is a web application for your own collections of notes and points on the map.</p>
    <p class="mb-5">Made by Oleksandr Korniienko for SETU 2026.</p>
  </div>
</section>