<section class="hero">
  <div class="hero-body">
<h1 class="title">About This Project</h1>
<p>NoteOnMap is a web application allowing users to create their own collections of notes and points on the map</p>
<p>Made by Oleksandr Korniienko for SETU 2026</p>
</div>
</section>