<div style="text-align: center; margin-bottom: 2rem;">
  <div class="title is-2 p-5"><span>Hi, {{viewData.username}} [{{{viewData.userIsAdmin}}}]</span></div> 
</div>
{{#if viewData.userIsAdmin }}
{{> forms/add-api-form }}
{{else }}
{{> forms/add-api-form }}
{{/if }}