{{> left-pane }}
{{> account-menu }}
  <section style="z-index: 0;">
    {{#if viewData.mapsApiKey }}
    {{> map/map }}
    {{!-- {{> map/tst }} --}}
    {{!-- {{> map/add-point }} --}}
    {{else}}
      {{> api-key-warning }}
    {{/if}}
  </section>