{{> header }}
  <section>
    {{!-- {{ viewData.mapsApiKey }} --}}
    <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center" style="position: relative; height: 80vh;">
    {{> map }}
    </div>
    <div class="is-flex is-flex-direction-column is-align-items-center is-justify-content-center" style="position: relative;">
	  <p>No points added.</p>
      <button class="button is-primary" style="width: 200px;">Add point</button>
    </div>
  </section>

{{> footer}}