<div style="text-align: center; margin-bottom: 2rem;">
  <div class="title is-2 pt-5 mb-0"><span>Users</span></div> 
    <p class="has-text-danger">{{ viewData.message }}</p>
</div>

{{> lists/list-users}}