<div
  class="container"
  style="position: absolute; right: 1rem; top: 1rem; border-radius: 10rem; height: 3rem; width: 3rem; background-color: var(--bulma-body-background-color); z-index: 1001;"
>
<div class="p-2">
{{> svg/user-icon }}
</div>
</div>