<nav class="navbar" role="navigation" aria-label="main navigation" style="z-index: 99;">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{> svg/logo}}
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      {{#if viewData.isAuthenticated}}
      <a href="/dashboard" class="navbar-item">
        Dashboard
      </a>
      {{/if}}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown">
          <a href="/about" class="navbar-item">
            About
          </a>
          <hr class="navbar-divider">
          {{!-- https://stackoverflow.com/questions/15551779/open-link-in-new-tab-or-window --}}
          <a target="_blank" rel="noopener noreferrer"href="https://github.com/KorneAlex/NoteOnMap/issues" class="navbar-item">
            Report an issue
          </a>
        </div>
      </div>
    </div>

    <div class="navbar-end">
      {{> account-menu}}
      </div>
    </div>
</nav>