<div class="container"
     style="
      position: absolute;
      width: 280px;
      height: 100vh;
      background-color: var(--bulma-body-background-color);
      border-top-right-radius: 0.75rem;
      border-bottom-right-radius: 0.75rem;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
      padding: 1rem;
      overflow-y: auto;
      z-index: 1000;
    ">
<nav class="navbar is-flex is-flex-direction-column" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      {{> svg/logo}}
    </a>
  </div>


      {{#if viewData.isAuthenticated}}
      <a href="/dashboard" class="navbar-item">
        Dashboard
      </a>
      {{/if}}
        <a class="navbar-link">
          More
        </a>

          <a href="/about" class="navbar-item">
            About
          </a>
          {{!-- https://stackoverflow.com/questions/15551779/open-link-in-new-tab-or-window --}}
          <a target="_blank" rel="noopener noreferrer"href="https://github.com/KorneAlex/NoteOnMap/issues" class="navbar-item">
            Report an issue
          </a>


          {{#unless viewData.isAuthenticated}}
          <a href="/signup" class="navbar-item">
            <strong>Sign up {{viewData.username}}</strong>
          </a>
          <a href="/login" class="navbar-item">
            Log in+
          </a>
          {{else}}
          <a href="/account" class="navbar-item">
            Account
          </a>
          <a href="/logout" class="navbar-item">
            Log out
          </a>
          {{/unless}}
          <a href="/test" class="navbar-item">Test</a>
          </nav>
</div>
