<div class="account-icon-bg p-2">
   {{> svg/user-icon }}
</div>
<div class="account-menu-wrapper">
    {{#unless viewData.isAuthenticated}}
    <div class="account-menu container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <a href="/signup" class="navbar-item">
      <strong>Sign up</strong>
    </a>
    <a href="/login" class="navbar-item">
      Log in
    </a>
    {{else}}
  <div class="account-menu container is-flex is-flex-direction-column is-justify-content-center is-align-items-center">
    <a href="/account" class="navbar-item">
      Account
    </a>
    <a href="/logout" class="navbar-item">
      Log out
    </a>
    {{/unless}}
  </div>
  <div class="account-icon container is-flex is-justify-content-center is-align-items-center">
  </div>
</div>