<!DOCTYPE html>
<html lang="en-IE">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link href='https://cdn.maptiler.com/maptiler-sdk-js/v3.10.2/maptiler-sdk.css' rel='stylesheet' />
</head>

<body>
  <div class="section is-flex is-flex-direction-column p-0" style="margin-left: 15%; margin-right: 15%; height: 100vh;">
  {{{content}}}
  </div>
</body>
<style>
:root {
  --bulma-primary-h: 176deg;
  --bulma-primary-l: 53%;
  --bulma-success-h: 176deg;
  --bulma-success-s: 100%;
}
</style>
</html>