<!DOCTYPE html>
<html lang="en-IE">

<head>
  <title>{{title}}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css">
  <link href='https://cdn.maptiler.com/maptiler-sdk-js/v3.10.2/maptiler-sdk.css' rel='stylesheet' />
  <link rel="stylesheet" href="/css/variables.css">
  <link rel="stylesheet" href="/css/left-pane.css">
  <link rel="stylesheet" href="/css/account-menu.css">
  <link rel="stylesheet" href="/css/map.css">
</head>

<body>
  {{#if isDashboard}}
  {{{content}}}
  {{else}}
  <div class="is-flex is-flex-direction-column p-0" style="margin-left: 15%; margin-right: 15%; min-height: 100vh;">
  {{> interface/header }}
  {{{content}}}
  {{> interface/footer }}
  </div>
  {{/if}}
</body>
</html>